@font-face {
  font-family: china;
  src: url("./3856NeueMachina.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "china";
}
html,
body {
  height: 100%;
  width: 100%;
  /* prevent any horizontal overflow that creates a horizontal scrollbar */
  overflow-x: hidden;
}
section {
  height: 100%;
  width: 100%;
  position: relative;
  /* background-color: tomato; */
}

/* make images responsive and remove inline spacing that can create overflow */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  /* font-size: 28px; */
  padding: 40px 15px;
}
#part2 h3 {
  display: inline;
  margin: 0 15px;
  cursor: pointer;
  font-weight: 300;
  gap: 18px;
  font-size: 30px;
}
nav h1 {
  cursor: pointer;
  margin-left: 35px;
  font-size: 40px;
}

#center {
  height: 80%;
  width: 100%;
  display: flex;
  /* background-color: red; */
}
#center1 {
  height: 100%;
  width: 44%;
  padding: 12px 10px;
  /* background-color: blueviolet; */
}
#center1 h1 {
  font-size: 87px;
  margin-bottom: 10px;
  padding-left: 34px;
  /* background-color: red; */
  line-height: 1;
  text-align: left;
}
#center1 p {
  font-size: 35px;
  /* background-color: palegoldenrod; */
  /* margin-bottom: 20px; */
  padding: 19px 34px;
  text-align: left;
}
#center1 button {
  padding: 28px 34px;
  font-size: 29px;
  background-color:#FFC83D;
  border: none;
  cursor: pointer;
  margin: 30px 34px;
}
#center2 {
  height: 100%;
  width: 56%;
  /* background-color: yellow; */
  object-fit: cover;
  /* background-image: url("https://imgs.search.brave.com/S3oSxScuhBV7YtWIUQ1x1wC307yfHif5JdIxhanCfYw/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTQ3/MzcxMjI3MC9waG90/by9zdHVkeS1sYXB0/b3AtYW5kLWdyb3Vw/LW9mLXN0dWRlbnRz/LW9uLWZsb29yLWlu/LXByb2plY3QtcmVz/ZWFyY2gtb3ItcGxh/bm5pbmctYnJhaW5z/dG9ybWluZy1hbmQu/anBnP3M9NjEyeDYx/MiZ3PTAmaz0yMCZj/PXBzZFdYYl9qaHdT/RXNGRmhlLUpEMjVV/VjdxNmNqdlVnbDFI/cVhhVkM4TDg9"); */
}
.section1 {
  min-height: 100vh;
  width: 100%;
  /* background-color: rgb(86, 218, 218); */
  position: relative;
}

.sectionlogo {
  display: flex;
  height: 27%;
  width: 254vw;
  /* bottom: 0; */
  top: 50%;
  align-items: center;
  /* background-color: violet; */
  left: 2%;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
 position:relative;
 top:auto ;
 left: auto;

  /* background-color: red; */
}
.sectionlogo img {
height: 11rem; /* Set a standard height */
    width: auto;
    flex-shrink: 0; /* Prevents logos from shrinking */
    margin: 0 2rem; /* Spacing between logos */
    opacity: 0.8;
  /* and this margin  property is only used in the child part . basically the outer spacing between that elements and its neighbour(if any) otherwise the view port    */
  /* gap: 200px; */
}
/* #hamrocsit {
  width: 10%;
  height: 70%;
} */
.section2 {
  height: 100%;
  width: 100%;
  display: flex;
  /* margin: 20px 34px; */
  position: relative;
  /* background-color: rgb(206, 146, 25); */
}
.section-logos-wrapper {
    width: 100%;
    margin: 5rem 0 2rem 0;
    
    /* CRITICAL CHANGE: Increase horizontal padding to push the logos in */
    padding: 0 10%; 
    
    overflow: hidden; 
}
#firstsection {
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: 25%;
  left: 2%;
  /* background-color: seagreen; */
}
#firstsection h3 {
  font-size: 30px;
  background-color: #8170f4;
  padding: 10px 34px;
  color: white;
  width: 12%;
}

#firstsection p {
  font-size: 20px;
  width: 80%;
  line-height: 1.5;
  text-align: justify;
}

#boxes {
  height: 80%;
  width: 98%;
  /* background-color: rgb(84, 11, 210); */

  padding: 17% 1%;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  /* gap is always written  in the parent element and only applicable if display flex or grid property is mention  */
  justify-content: space-between;
  margin-top: 2%;
}

.smallbox {
  height: 400px;
  width: 40%;
  flex-shrink: 0;
  position: relative;
  /* background-color: red; */
  border: 3px solid black;
  box-shadow: 0px 15px 0px black;
  border-radius: 20px;
  display: flex;
  margin: 30px;
  padding: 30px;
}

.smallbox img {
  position: absolute;
  top: 8%;
  left: 21%;
  height: 78%;
  width: 100%;
  object-fit: contain;
  margin-bottom: 10px;
}
#Programming {
  /* background-color: #8170f4; */
  height: 29%;
  width: 29%;
}
h3 {
  color: rgb(87, 81, 81);
  padding: 6px 8px;
  font-size: 29px;
}
.firstSmallDiv {
  height: 10%;
  /* background-color: red; */
  width: 30%;
  position: absolute;
  display: flex;
  bottom: 5%;
  padding: 5px 6px;
  gap: 5px;
}
.firstSmallDiv i {
  font-size: 25px;
  z-index: 1000;

  transform: rotate(-25deg);
}
.firstSmallDiv p {
  font-size: 20px;
  cursor: pointer;
}
#secondbox {
    background-color: #231f3be1;
  z-index: 110;
  color: white;
}
#secondbox h3{
  color: white;
}
#Course {
  height: 29%;
  width: 34%;
  /* background-color: rgb(243, 86, 86); */
}
#big {
  height: 90%;
  width: 80%;
  position: absolute;
  left: 30%;
}

.third {
  height: 34%;
  width: 100%;
  /* background-color: rgb(221, 240, 240); */
}

.forth {
  background-color: rgb(63, 63, 56);
  height: 100%;
  width: 100%;
  position: absolute;
}

#forthmain {
  height: 30%;
  /* background-color: #FFC83D; */
}

.last {
  background-color: rgb(186, 186, 70);
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
}

#top {
  height: 45%;
  width: 94%;
  display: flex;
  justify-content: space-between;
    background-color: #231f3be1;
  /* margin: 8.3%; */
  top: 38%;
  position: absolute;
  left: 2%;
  border-radius: 29px;
  border: 1px solid black;
  color: white;
}

#lefttop{
  height: 100%;
  width: 48%;
  /* background-color: red; */
  padding: 59px 50px;
 

 
}
#lefttop h1{
font-size: 56px;
margin: 19px;

}

#lefttop p{
  font-size: 24px;
  margin: 16px;
}
#lefttop button{
  padding: 15px 25px;
  font-size: 20px;
  margin: 16px;
  cursor: pointer;
  background-color: #FFC83D;
}
#righttop img{
  height: 90%;
  /* padding: 30px; */
  padding-right: 90px;
  padding-top: 30px;
}


/* Footer Main Container */
.footer {
    width: 100%;
    background-color: #231f3be1;
    padding: 50px;
    color: #ffffffcc;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 10px;
}

/* Top Navigation Links */
.footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    
}

.footer-links li {
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 23px;
    transition: 0.3s;
}

.footer-links li:hover {
    color: #fff;
}

/* Case Study Cards */
.footer-cards {
    display: flex;
    gap: 25px;
    justify-content: space-between;
}

.card {
    flex: 1;
    background-color: #231f3b;
    padding: 30px;
    border-radius: 15px;
    border: 2px solid #574b90;
    color: white;
}

.card h3 {
    margin-bottom: 10px;
    color: white;
    margin: 13px;
    font-size: 29px;
}

.card p {
    font-size: 14px;
    margin: 20px;
    font-size: 21px;

}

.card a {
    text-decoration: none;
    color: #90ee90;
    font-weight: 800;
    margin: 20px;
font-size: 18px;
    

}

/* Responsive */
@media (max-width: 900px) {
    .footer-links {
        flex-direction: column;
        gap: 30px;
    }

    .footer-cards {
        flex-direction: column;
    }
}
